<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagem</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="conteiner">
        <h1>{{nome}}</h1>
        <img src="{{imagem}}">
        <p>É da raça {{raça}} e estuda na {{casa}}</p>
    </div>
</body>
</html>