<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persongem</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container mt-5 ">
        {% for id, personagem in personagens.items() %}
        <div class="row">
            <div class="col-md-4">
                <img src="{{personagem['imagem']}}" alt="{{personagem['nome']}}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1>{{personagem['nome']}}</h1>
                <p>É da raça {{personagem['raça']}}, estuda na {{personagem['casa']}}</p>
                <p>{{personagem['nome']}} nasceu em {{personagem['nascimento']}} e tem {{personagem['altura']}} de altura</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.mim.js')}}"></script>
</body>
</html>